body {
}
.Opening {
}
.AboutMeContainer {
	display: inline-block;
	width: 50%;
	height: 100%;
}
.technical-skills-container {
	display: grid;
	grid-template: "a a a" auto;
}
.list-name {
	font-size: 20px;
	font-weight: bold;
}
.skill {
	list-style: none;
}
